<div id="profile-background-photo" style="background-image: url('https://images.pexels.com/photos/374018/pexels-photo-374018.jpeg')"></div>
<div class="profile-header container">
    <div class="profile-top row text-center text-sm-left">
        <div class="profile-photo-container col-sm-auto">
            <div class="profile-photo ml-auto mr-auto" style="background-image: url('https://pbs.twimg.com/profile_images/956607218111188992/fLgNfCEG_400x400.jpg')"></div>
        </div>
        <div class="profile-card col">
            <div class="profile-name">
                <h1>IBM</h1>
            </div>
            <div class="row">
                <div class="profile-bio col-md-5 text-left">
                    <div class="bio-item">
                        <div class="bio-item-icon"><i class="fas fa-map-marker-alt"></i></div>
                        <p>Armonk, New York,<br>NY, USA</p>
                    </div>
                    <div class="bio-item">
                        <div class="bio-item-icon"><i class="fas fa-graduation-cap"></i></div>
                        <p>Information Technology and Services</p>
                    </div>
                    <div class="bio-item">
                        <a href="https://github.com" class="profile-item">
                            <div class="bio-item-icon"><i class="fab fa-github"></i></div>
                            Github
                        </a>
                    </div>
                    <div class="bio-item">
                        <a href="https://twitter.com" class="profile-item">
                            <div class="bio-item-icon"><i class="fab fa-twitter"></i></div>
                            Twitter
                        </a>
                    </div>
                    <div class="bio-item">
                        <a href="https://www.facebook.com" class="profile-item">
                            <div class="bio-item-icon"><i class="fab fa-facebook-square"></i></div>
                            Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-description-container container col-md-8" [ngClass]="{'expanded': expanded}">
    <div class="profile-description row mx-4">
        <h4>About us</h4>
        <p>
            At IBM, work is more than a job - it's a calling: To build. To design. To code. To consult. To think along with clients 
            and sell. To make markets. To invent. To collaborate. Not just to do something better, but to attempt things you've 
            never thought possible. To lead in this new era of technology and solve some of the world's most challenging problems. 
        </p>
        <p>
            IBM is a leading cloud platform and cognitive solutions company. Restlessly reinventing since 1911, we are the largest 
            technology and consulting employer in the world, with more than 380,000 employees serving clients in 170 countries. 
            With Watson, the AI platform for business, powered by data, we are building industry-based solutions to real-world 
            problems. For more than seven decades, IBM Research has defined the future of information technology with more than 
            3,000 researchers in 12 labs located across six continents. For more information, visit www.ibm.com. 
        </p>
        <p>
            This is IBM's official LinkedIn account and it follows IBM Social Computing Guidelines. We reserve the right to delete comments that are offensive or suggestive, personal attacks, anonymous, wildly off-topic, spam or advertisements. For more information regarding IBM’s social computing guidelines, visit http://ibm.co/1LRDq6F
        </p>
        <p>
            Cras sed tempus erat. Sed accumsan sapien ut turpis porta, ullamcorper iaculis quam lacinia. Pellentesque in orci a erat
            semper tempor. Phasellus velit ipsum, efficitur et posuere in, interdum sed tellus. Duis eu nisi magna. Sed nec
            urna sed tortor scelerisque maximus. Quisque eget ante tristique, suscipit tortor nec, congue massa. Proin faucibus
            diam quis nulla pharetra congue.
        </p>
        <p>
            Vivamus at ullamcorper lacus. Suspendisse scelerisque condimentum ex et sagittis. Pellentesque accumsan eget leo sit amet
            viverra. Mauris ornare odio tincidunt nisi rutrum, vel commodo justo faucibus. Aliquam non odio at felis maximus
            consequat vel a elit. Sed interdum ornare eros ut aliquam. Ut imperdiet sollicitudin molestie. Vestibulum venenatis
            augue nunc, ut iaculis ante efficitur a. Maecenas varius maximus mollis. Mauris eu turpis leo. Duis eget mauris
            ipsum. Donec sollicitudin sagittis leo non convallis.
        </p>
    </div>
    <div class="profile-description-more col" (click)="expandDescription()">
        <span><i class="fas fa-angle-down"></i></span>
    </div>
</div>
<div class="container">
    <div class="row">        
        <div class="profile-projects bg-dark col-md m-1">
            <h4><span class="studint-logo"></span> Projects</h4>
            <div class="item bg-light container my-3">
                <h5>LinkedIn for students</h5>
                <h6>from: 2011</h6>
            </div>
            <div class="item bg-light container my-3">
                <h5>Car Parts Shop</h5>
                <h6>from: 2013</h6>
            </div>
            <div class="item bg-light container my-3">
                <h5>Cookie of the Month</h5>
                <h6>from: 2014</h6>
            </div>
            <div class="item bg-light container my-3">
                <h5>iTunes for Windows Mobile</h5>
                <h6>from: 2018</h6>
            </div>
        </div>
    </div>
</div>
