<span *ngIf="company">
    <div id="profile-background-photo" style="background-image: url('https://images.pexels.com/photos/374018/pexels-photo-374018.jpeg')"></div>
    <div class="container">
        <div class="profile-header container">
            <div class="profile-top row text-center text-sm-left">
                <div class="profile-photo-container col-sm-auto">
                    <div *ngIf="company.profileName?.photo" class="profile-photo ml-auto mr-auto" [ngStyle]="{'background-image': 'url(' + company.profileName.photo + ')'}"></div>
                </div>
                <div class="profile-card col">
                    <div class="profile-name">
                        <h1>{{company.profileName?.name}}</h1>
                    </div>
                    <div class="profile-bio-container row d-block">
                        <div class="profile-bio col-md-auto text-left float-left">
                            <div *ngIf="company.address" class="bio-item">
                                <div class="bio-item-icon"><i class="fas fa-map-marker-alt"></i></div>
                                <p>{{company.address.street + ' ' + company.address.houseNo}}<br>{{company.address.postCode
                                    + ' ' + company.address.town + ', ' + company.address.country}}</p>
                            </div>
                            <div *ngIf="company.type?.length" class="bio-item">
                                <div class="bio-item-icon"><i class="fas fa-graduation-cap"></i></div>
                                <p>{{company.type}}</p>
                            </div>
                            <div *ngFor="let profile of company.profiles" class="bio-item">
                                <div class="bio-item-icon">
                                    <i [class]="utils.getSocialMediaIconClass(profile.service)"></i>
                                </div>
                                <p>
                                    <a [href]="profile.url">{{utils.getSocialMediaName(profile.service)}}</a>
                                </p>
                            </div>
                            <button type="button" class="btn btn-link" (click)="openEditModal()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="company.description?.length > 0" class="profile-description-container container col-md-10"
            [ngClass]="{'expanded': expanded}">
            <div class="profile-description mx-4">
                <h4>About us</h4>
                <div id="description" [innerHTML]="company.description" class="profile-description-text">
                </div>
                <div *ngIf="utils.showDescriptionMoreButton()" class="profile-description-more col" (click)="expanded = !expanded"
                    [ngSwitch]="expanded">
                    <span *ngSwitchCase="true"><i class="fas fa-angle-up"></i> Show less</span>
                    <span *ngSwitchDefault><i class="fas fa-angle-down"></i> Show more</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="company.projects?.length" class="projects-container container">
        <div class="row">
            <div class="profile-projects bg-dark col-md-10">
                <h4><span class="studint-logo"></span> Projects</h4>
                <div *ngFor="let project of company.projects" class="item bg-light container my-3">
                    <div class="row">
                        <div class="col">
                            <h5>
                                <a [routerLink]="[ '/project', project.projectId ]">{{project.projectName}}</a>
                            </h5>
                        </div>
                        <div class="info-item col text-right">
                            <div class="difficulty-stars" [title]="utils.getProjectLevelText(project.level)">
                                <i *ngFor="let i of Arr(utils.getProjectDifficultyNumber(project.level)).fill(1)" class="fas fa-star"></i>
                                <i *ngFor="let i of Arr(5 - utils.getProjectDifficultyNumber(project.level)).fill(1)"
                                    class="far fa-star"></i>
                            </div>
                            <h6>{{utils.getProjectStatusText(project.status)}}</h6>
                            <p><strong>{{utils.getDurationUnit(project.duration)}}</strong> from <strong>{{project.startDate
                                    | amDateFormat: 'LL'}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-wall [posts]="company.posts"></app-wall>
</span>