<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-boy">
  <div class="container">
    <form class="registerform" [formGroup]="accountStudentDetailsFormGroup" (ngSubmit)="onSubmitStudent()" action="mail.php"
      method="post">
      <div formGroupName="fullname">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="firstName" id="InputFirstName" placeholder="First Name" maxlength="254"
            required/>
          <div *ngIf="submittedStudent">
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('firstName').errors?.required">First name is required</p>
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('firstName').errors?.pattern">
              Invalid first name</p>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="surname" id="InputSurname" placeholder="Surname" maxlength="254"
            required/>
          <div *ngIf="submittedStudent">
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('surname').errors?.required">Surname is required</p>
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('surname').errors?.pattern">
              Invalid surname </p>
          </div>
        </div>
      </div>
      <div class="tags-container">
        <ng-container *ngFor="let item of technologiesTags; let i = index" [attr.data-index]="i">
          <button type="button" class="btn">
            <div class="font-tag">{{item}}
              <span class="close" (click)="onCloseClick(i)">&nbsp;
                <i class="fas fa-times fa-sm"></i>
              </span>
            </div>
          </button>&nbsp;
        </ng-container>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" (click)="close()">
    cancel
  </button>
  <button class="btn btn-success" (click)="onSubmitStudent()">
    save
  </button>
</div>