<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">PROFILE
    <i class="far fa-user-circle"></i>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-boy">
  <div class="container">
    <form class="registerform" [formGroup]="accountStudentDetailsFormGroup" (ngSubmit)="onSubmitStudent()">

      <!--<div class="form-group">
        <small>Photo</small>
        <input ng-model="file_upload" formControlName="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput>
        <button type="submit" (click)="onSubmitPhoto()">Submit</button>
      </div>-->

      <div formGroupName="fullname">
        <div class="form-group">
          <small>First Name</small>
          <input type="text" class="form-control" formControlName="firstName" id="InputFirstName" placeholder="First Name" maxlength="254"
            required/>
          <div *ngIf="submittedStudent">
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('firstName').errors?.required">First name is required</p>
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('firstName').errors?.pattern">
              Invalid first name</p>
          </div>
        </div>
        <div class="form-group">
          <small>Last Name</small>
          <input type="text" class="form-control" formControlName="surname" id="InputSurname" placeholder="Surname" maxlength="254"
            required/>
          <div *ngIf="submittedStudent">
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('surname').errors?.required">Surname is required</p>
            <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('surname').errors?.pattern">
              Invalid surname </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <small>Skills</small>
        <input class="form-control" formControlName="technology" (typeaheadOnSelect)="onSkillSelect($event)" [typeahead]="skills"
          typeaheadOptionField="name" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" placeholder="Skill" />
      </div>
      <div class="form-group">
        <div class="tags-container">
          <ng-container *ngFor='let item of userSkillTags'>
            <button type="button" class="btn btn-tag">
              <div class="font-tag">{{item.name}}
                <span class="close" (click)="onTechnologyCloseClick(item)">&nbsp;
                  <i class="fas fa-times fa-sm"></i>
                </span>
              </div>
            </button>&nbsp;
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <small>Languages</small>
        <input class="form-control" formControlName="language" (typeaheadOnSelect)="onLanguageSelect($event)" [typeahead]="languages"
          typeaheadOptionField="name" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" placeholder="Language" />
      </div>
      <div class="form-group">
        <div class="tags-container">
          <ng-container *ngFor='let item of userLanguagesTags'>
            <button type="button" class="btn btn-tag">
              <div class="font-tag">{{item.name}}
                <span class="close" (click)="onLanguageCloseClick(item)">&nbsp;
                  <i class="fas fa-times fa-sm"></i>
                </span>
              </div>
            </button>&nbsp;
          </ng-container>
        </div>
      </div>
      <div formGroupName="socialServices">
        <small>Social media</small>
        <div class="form-group">
          <div class="btn-default">
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-youtube"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="youtubeLink" formControlName="youtube" placeholder="Add Youtube link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-facebook"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="facebookLink" formControlName="facebook" placeholder="Add Facebook link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-twitter"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="twitterLink" formControlName="twitter" placeholder="Add twitter link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-instagram"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="instagramLink" formControlName="instagram" placeholder="Add Instagram link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-linkedin-in"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="linkedinLink" formControlName="linkedin" placeholder="Add Linkedin link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-github"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="githubLink" formControlName="github" placeholder="Add Github link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-pinterest"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="pinterestLink" formControlName="pinterest" placeholder="Add Pinterest link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-google"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="googleLink" formControlName="google" placeholder="Add Google link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fas fa-globe"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="customLink" formControlName="custom" placeholder="Add custom link">
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>

      <div class="form-group">
        <small>Experience</small>
        <app-editor id="inputExperience" formControlName="description"></app-editor>
        <div *ngIf="submittedStudent">
          <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('surname').errors?.required">Surname is required</p>
          <p class="alert alert-danger" *ngIf="accountStudentDetailsFormGroup.get('fullname').get('surname').errors?.pattern">
            Invalid surname </p>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" (click)="close()">
    Cancel
  </button>
  <button class="btn btn-primary" (click)="onSubmitStudent()">
    Save
  </button>
</div>