@import 'mixins.less';
/* Studint logo */

span.studint-logo {
    &:before,
    &:after {
        .logo-font();
        text-transform: none;
    }
    &:before {
        content: 'stud';
        color: @primary-color;
    }
    &:after {
        content: 'int';
        color: @gray-dark;
    }
}

/* Defaults */

body {
    background-color: @background-color;
    .default-font(normal);
    color: @gray-dark;
    margin: 0;
    padding-top: 70px;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @secondary-color;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    border-color: @gray-dark;
}

.bg-light {
    background-color: @gray-light;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: @secondary-color;
    }
    hr {
        border-color: @gray;
    }
}

.bg-dark {
    background-color: @gray-dark;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: @gray-light;
    }
    span.studint-logo {
        &:after {
            color: @gray-lighter;
        }
    }
    hr {
        border-color: @gray-dark;
    }
}

.bg-primary {
    background-color: @primary-color  !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: @gray-light;
    }
    span.studint-logo {
        &:before {
            color: @gray-lighter;
        }
    }
    hr {
        border-color: @primary-color-dark;
    }
}

.bg-secondary {
    background-color: @secondary-color !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: @gray-light;
    }
    span.studint-logo {
        &:before {
            color: @gray-lighter;
        }
    }
    hr {
        border-color: @secondary-color-dark;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

.accepted {
    color: @red;
}

.rejected {
    color: @green;
}

.pending {
    color: @secondary-color;
}

.btn,
.form-control {
    .default-shadow();
    &:hover {
        .hover-shadow();
    }
    &:active,
    &:focus {
        .active-shadow();
    }
}

.btn-group {
    .default-shadow();
    &:hover {
        .hover-shadow();
    }
    &:active,
    &:focus {
        .active-shadow();
    }
    .btn,
    .form-control {
        box-shadow: none;
        &:hover {
            box-shadow: none;
        }
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
}

/* Buttons */

.btn {
    box-sizing: border-box;
    .transition();
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(1.1);
    }
}

.btn-primary {
    background-color: @primary-color;
    border-color: @primary-color-dark;
    &:hover {
        background-color: @primary-color-dark;
        border-color: @primary-color-darker;
    }
    &:not(:disabled):not(:disabled):active {
        background-color: @primary-color-darker;
        border-color: @primary-color-darker;
    }
    &:not(:disabled):not(:disabled):focus,
    &:not(:disabled):not(:disabled):focus:active {
        box-shadow: 0 0 30px 5px @primary-color-light;
    }
}

.btn-outline-primary {
    border-color: @primary-color;
    color: @primary-color;
    &:hover {
        background-color: @primary-color;
        border-color: @primary-color-light;
    }
    &:not(:disabled):not(:disabled):active {
        background-color: @primary-color;
        border-color: @primary-color;
    }
    &:not(:disabled):not(:disabled):focus,
    &:not(:disabled):not(:disabled):focus:active {
        box-shadow: 0 0 30px 5px @primary-color-light;
    }
}

/* Forms */

.form-control {
    &:focus {
        border-color: @primary-color-light;
    }
}

/* Dropdown menu */

.dropdown-menu {
    width: 100%;
    margin-top: 0px;
    opacity: .9;
    .active-shadow();
    &:hover {
        opacity: 1;
    }
    .dropdown-item {
        color: @gray;
        &.active {
            background-color: @primary-color;
            color: @primary-color-lighter;
            .ngb-highlight {
                color: @gray-lighter;
            }
        }
        .ngb-highlight {
            font-weight: normal !important;
            color: @gray-darker;
        }
    }
}

/* Profile photo */

.profile-photo-sm {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    .light-shadow;
}

/* Modals */

.modal-boy {
    max-height: 70vh;
    overflow-y: scroll;
}