/* Colors */
@orange-default: #ff6511;
@blue-default: rgb(22, 152, 212);
@dark-default: #333;
@light-default: #f5f5f5;
@color-white: white;

@primary-color-darker: darken(@primary-color, 20%);
@primary-color-dark: darken(@primary-color, 10%);
@primary-color: @orange-default;
@primary-color-light: lighten(@primary-color, 15%);
@primary-color-lighter: lighten(@primary-color, 25%);

@secondary-color-darker: darken(@secondary-color, 20%);
@secondary-color-dark: darken(@secondary-color, 10%);
@secondary-color: @blue-default;
@secondary-color-light: lighten(@secondary-color, 15%);
@secondary-color-lighter: lighten(@secondary-color, 25%);

@gray-darker: darken(@gray-dark, 20%);
@gray-cod: #111;
@gray-dark: @dark-default;
@gray: darken(@gray-light, 20%);
@gray-light: @light-default;
@gray-lighter: lighten(@gray-light, 20%);

@red: rgb(177, 32, 6);
@green: rgb(5, 155, 105);

@road-sign-yellow: rgb(255, 208, 0);

@background-color: @gray-lighter;