<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand my-2" href="#"><span class="studint-logo"></span></a>
    <div class="navbar-buttons">
      <button class="btn navbar-btn navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="search-bar-collapse" aria-label="Toggle search bar">
        <i class="navbar-btn-icon fas fa-search"></i>
      </button>
      <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div *ngIf="authService.isLogged()" id="search-bar-container" [ngbCollapse]="isCollapsed && smallScreen">
      <div id="search-bar" class="container form-inline col-lg-10">
        <input [(ngModel)]="selected" [ngbTypeahead]="results" (keydown)="search($event)" class="form-control col mr-2">
        <button id="searchButton" class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="goToResult()">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
      <div class="ml-auto">
        <ul class="navbar-nav text-center">
          <li *ngIf="authService.isLogged()" class="nav-item">
            <a class="nav-link text-nowrap" href="javascript:void(0)" (click)="goToProfile()">Profile</a>
          </li>
          <li *ngIf="!authService.isLogged()" class="nav-item">
            <button class="btn btn-primary bold" [routerLink]="['/login']">Sign in</button>
          </li>
          <li *ngIf="!authService.isLogged()" class="nav-item">
            <a class="nav-link text-nowrap" [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="authService.isLogged() && authService.getProfile()?.type === UserType.Company" class="nav-item">
            <a class="nav-link text-nowrap" [routerLink]="['/manage-projects']">Management</a>
          </li>
          <li *ngIf="authService.isLogged()" class="nav-item">
            <a class="nav-link text-nowrap" href="javascript:void(0)" (click)="goToSettings()">Settings</a>
          </li>
          <li *ngIf="authService.isLogged()" class="nav-item">
            <a class="nav-link text-nowrap" href="javascript:void(0)" (click)="signOut()">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>