<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand my-2" href="#"><span class="studint-logo"></span></a>
    <div class="navbar-buttons">
      <button class="btn navbar-btn navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="search-bar-collapse" aria-label="Toggle search bar">
        <i class="navbar-btn-icon fas fa-search"></i>
      </button>
      <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div id="search-bar-container" [ngbCollapse]="isCollapsed && smallScreen">
      <div id="search-bar" class="container form-inline col-lg-10">
        <input [(ngModel)]="selected" [ngbTypeahead]="search" class="form-control col mr-2">
        <button id="searchButton" class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          <i class="fas fa-angle-double-right"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div>
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>