<div class="bg bg-light">
  <div class="studint-logo-2">
    <span class="studint-logo"></span>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 pb-5">
        <form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmitted()" action="mail.php" method="post">
          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <div class="bio-item-icon">
                    <i class="fas fa-at"></i>
                  </div>
                </div>
              </div>
              <input type="email" class="form-control" formControlName="email" id="EmailInput" placeholder="E-mail"
                required [(ngModel)]="username">
            </div>
            <div *ngIf="submitted">
              <p class="alert alert-danger" *ngIf="loginFormGroup.controls.email.errors?.required">E-mail is required</p>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-key"></i>
                </div>
              </div>
              <input type="password" class="form-control" formControlName="password" id="PasswordInput" placeholder="Password"
                required [(ngModel)]="password">
            </div>
            <div *ngIf="submitted">
              <p class="alert alert-danger" *ngIf="loginFormGroup.controls.password.errors?.required">Password is
                required</p>
            </div>
          </div>


          <div class="form-group d-flex">
            <label class="customcheck col">
              <span class="text-remember">
                Remember me
              </span>
              <input type="checkbox" id="rememberCheck">
              <span class="checkmark"></span>
            </label>
            <a href="" class="btn-link">
              <span class="text-forgot">
                Forgot password?
              </span>
            </a>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg" (click)="authenticate()">Sign In</button>
          </div>
          <hr class="colorgraph">
          <div class="text-center">
            <span class="text-notamember">
              Not a member?
            </span>
            <a [routerLink]="['/register']">
              <label class="signup">
                Sign up now!
              </label>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>