<div class="bg">
  <div class="studint-logo-2">
    <span class="studint-logo"></span>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 pb-5">
        <form action="mail.php" method="post">
          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <div class="bio-item-icon">
                    <i class="fas fa-envelope fa-2x"></i>
                  </div>
                </div>
              </div>
              <input type="email" class="form-control is-valid" id="EmailInput" placeholder="e-mail" required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-unlock-alt fa-2x"></i>
                </div>
              </div>
              <input type="password" class="form-control is-valid" id="PasswordInput" placeholder="password" required>
            </div>
          </div>
          <div class="form-group">
            <label class="customcheck">
              <label class="float-left">
                <label class="text-remember" for="customCheck1">
                  Remember me
                </label>
              </label>
              <input type="checkbox" checked="checked" id="customCheck1">
              <span class="checkmark"></span>
              <a href="" class="btn-link float-right">
                <label class="text-forgot">
                  Forgot Password?
                </label>
              </a>
            </label>
          </div>
          <button type="submit" class="btn">Log In</button>
          <hr class="colorgraph">
          <div class="text-center">
            <label class="text-notamember">
              Not a member?&nbsp;
            </label>
            <a [routerLink]="['/register']">
              <label class="signup">
                Sign up now!
              </label>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>