<div id="profile-background-photo" style="background-image: url('https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg')"></div>
<div class="profile-header container">
    <div class="profile-top row text-center text-sm-left">
        <div class="profile-card row">
            <div class="profile-photo-container col-sm-auto">
                <div class="profile-photo ml-auto mr-auto" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREbV9-iTUYpckFiSiJgS6H1flN2NgeSecPGRX5M4wT8m7mRQ5xNA')"></div>
            </div>
            <div class="profile-name col col-sm-auto">
                <h1>Linda McGear</h1>
                <h6 id="profile-status">Ready to join a project</h6>
                <div class="profile-bio text-left">
                    <div class="bio-item">
                        <div class="bio-item-icon">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <p>
                            3rd year student of Economy<br/> University of Chicago
                        </p>
                    </div>
                    <div class="bio-item">
                        <div class="bio-item-icon">
                            <i class="fas fa-language"></i>
                        </div>
                        <p>
                            English, German, Dutch
                        </p>
                    </div>
                    <div class="bio-item">
                        <div class="bio-item-icon">
                            <i class="fas fa-flask"></i>
                        </div>
                        <p>
                            I took part in 4 <span class="studint-logo"></span> projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-skills col mt-4 mt-sm-0 ml-sm-4">
            <h4>My skills</h4>
            <span class="skill-item">C#</span>
            <span class="skill-item">Angular</span>
            <span class="skill-item">Swift</span>
            <span class="skill-item">Node.js</span>
            <span class="skill-item">Adobe Illustrator</span>
            <span class="skill-item">Android</span>
            <span class="skill-item">Java</span>
            <span class="skill-item">Vanilla.js</span>
            <span class="skill-item">Bootstrap</span>
            <span class="skill-item">Windows 95</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>