<span *ngIf="user">
    <div id="profile-background-photo" style="background-image: url('https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg')"></div>
    <div class="container">
        <div class="profile-header container">
            <div class="profile-top row text-center text-sm-left">
                <div class="profile-photo-container col-sm-auto">
                    <div *ngIf="user.profileName?.photo" class="profile-photo ml-auto mr-auto" [ngStyle]="{'background-image': 'url(' + user.profileName.photo + ')'}"></div>
                </div>
                <div class="profile-card col">
                    <div class="profile-name">
                        <h1>{{user.profileName?.name}}</h1>
                        <h6 id="profile-status">
                            {{utils.getUserStatusText(user.status)}}
                        </h6>
                    </div>
                    <div class="profile-bio-container row d-block">
                        <div class="profile-bio col-md-5 text-left float-left">
                            <div *ngIf="user.studiesInfos?.length" class="bio-item">
                                <div class="bio-item-icon"><i class="fas fa-graduation-cap"></i></div>
                                <p><strong>{{utils.getOrdinal(user.studiesInfos[0].yearOfStudies)}}</strong> year
                                    student of <strong>{{user.studiesInfos[0]?.course?.courseName}}</strong><br>
                                    at <strong>{{user.studiesInfos[0].university.name}}</strong></p>
                            </div>
                            <div *ngIf="user.languages?.length" class="bio-item">
                                <div class="bio-item-icon"><i class="fas fa-language"></i></div>
                                <p>{{getLanguages()}}</p>
                            </div>
                            <div class="bio-item">
                                <div class="bio-item-icon"><i class="fas fa-flask"></i></div>
                                <p *ngIf="!user.projects?.length">I'm really new here</p>
                                <p *ngIf="user.projects?.length > 0">I took part in <strong>{{user.projects.length}}
                                    </strong><span class="studint-logo"></span>
                                    projects.</p>
                            </div>
                  
                            <div *ngFor="let profile of user.profiles" class="bio-item">
                                <div class="bio-item-icon">
                                    <i [class]="utils.getSocialMediaIconClass(profile.service)"></i>
                                </div>
                                <p>
                                    <a [href]="profile.url">{{utils.getSocialMediaName(profile.service)}}</a>
                                </p>
                            </div>
                        </div>
                        <div *ngIf="user.skills?.length" class="profile-skills col-md-7 float-left">
                            <h4>My skills</h4>
                            <span class="skill-item" *ngFor="let skill of user.skills">
                                {{skill.name}}
                            </span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-link" (click)="openEditModal()">Edit</button>
                </div>
            </div>
        </div>
        <div *ngIf="user.description?.length > 0" class="profile-description-container container col-md-10" [ngClass]="{'expanded': expanded}">
            <div class="profile-description mx-4">
                <h4>Read my story</h4>
                <div id="description" [innerHTML]="user.description" class="profile-description-text">
                </div>
                <div *ngIf="utils.showDescriptionMoreButton()" class="profile-description-more col" (click)="expanded = !expanded"
                    [ngSwitch]="expanded">
                    <span *ngSwitchCase="true"><i class="fas fa-angle-up"></i> Show less</span>
                    <span *ngSwitchDefault><i class="fas fa-angle-down"></i> Show more</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div *ngIf="user.studiesInfos?.length" class="profile-universities bg-primary col-md m-1">
                <h4>Schools</h4>
                <div *ngFor="let study of user.studiesInfos" class="item bg-light container my-3">
                    <h5>
                        <a [routerLink]="[ '/university', study.university?.id ]">
                            {{study.university?.name}}
                        </a>
                    </h5>
                    <h6 class="subtitle">{{utils.getDateRangeText(study.startYear, study.finishYear)}}</h6>
                    <p>{{study.course?.courseName}}</p>
                </div>
            </div>
            <div class="profile-projects bg-dark col-md m-1">
                <h4><span class="studint-logo"></span> Projects</h4>
                <div *ngIf="!user.projects?.length" class="no-projects text-center p-5">
                    <h5>I haven't participated any</h5>
                </div>
                <div *ngFor="let project of user.projects" class="item bg-light container my-3">
                    <div class="row">
                        <div class="col">
                            <h5>
                                <a [routerLink]="[ '/project', project.projectId ]">{{project.projectName}}</a>
                            </h5>
                            <h6 class="subtitle">
                                by <a [routerLink]="[ '/company', project.company.id ]">{{project.company.name}}</a>
                            </h6>
                        </div>
                        <div class="info-item col text-right">
                            <div class="difficulty-stars" [title]="utils.getProjectLevelText(project.level)">
                                <i *ngFor="let i of Arr(utils.getProjectDifficultyNumber(project.level)).fill(1)" class="fas fa-star"></i>
                                <i *ngFor="let i of Arr(5 - utils.getProjectDifficultyNumber(project.level)).fill(1)"
                                    class="far fa-star"></i>
                            </div>
                            <h6>{{utils.getProjectStatusText(project.status)}}</h6>
                            <p><strong>{{utils.getDurationUnit(project.duration)}}</strong> from <strong>{{project.startDate
                                    | amDateFormat: 'LL'}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-wall [posts]="user.posts"></app-wall>
</span>