<div id="profile-background-photo" style="background-image: url('https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg')"></div>
<div class="profile-header container">
    <div class="profile-top row text-center text-sm-left">
        <div class="profile-photo-container col-sm-auto">
            <div class="profile-photo ml-auto mr-auto" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREbV9-iTUYpckFiSiJgS6H1flN2NgeSecPGRX5M4wT8m7mRQ5xNA')"></div>
        </div>
        <div class="profile-card col">
            <div class="profile-name">
                <h1>Linda McGear</h1>
                <h6 id="profile-status">Ready to join a project</h6>
            </div>
            <div class="row">
                <div class="profile-bio col-md-5 text-left">
                    <div class="bio-item">
                        <div class="bio-item-icon"><i class="fas fa-graduation-cap"></i></div>
                        <p>3rd year student of Computer Science<br> University of Chicago</p>
                    </div>
                    <div class="bio-item">
                        <div class="bio-item-icon"><i class="fas fa-language"></i></div>
                        <p>English, German, Dutch</p>
                    </div>
                    <div class="bio-item">
                        <div class="bio-item-icon"><i class="fas fa-flask"></i></div>
                        <p>I took part in 4 <span class="studint-logo"></span> projects.</p>
                    </div>
                </div>
                <div class="profile-skills col-md-7">
                    <h4>My skills</h4>
                    <span class="skill-item">C#</span>
                    <span class="skill-item">Angular</span>
                    <span class="skill-item">Swift</span>
                    <span class="skill-item">Node.js</span>
                    <span class="skill-item">Adobe Illustrator</span>
                    <span class="skill-item">Android</span>
                    <span class="skill-item">Java</span>
                    <span class="skill-item">Vanilla.js</span>
                    <span class="skill-item">Bootstrap</span>
                    <span class="skill-item">Windows 95</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-description-container container col-md-8" [ngClass]="{'expanded': expanded}">
    <div class="profile-description row mx-4">
        <h4>Read my story</h4>
        <p>
            Sed tincidunt diam vitae neque finibus, ac tincidunt mi pellentesque. Praesent eget convallis arcu, a molestie tortor. Phasellus
            elementum eros id malesuada condimentum. Vivamus vitae leo cursus, vehicula magna a, efficitur magna. Morbi fringilla
            nisl sapien, ultrices scelerisque quam luctus ac. Nullam rhoncus turpis rhoncus, dictum mi eget, ullamcorper
            mi. Maecenas ac odio at metus mollis tempus.
        </p>
        <p>
            Vestibulum congue sem arcu, at pharetra tellus porta eget. Cras vitae dolor vel augue tristique venenatis. Praesent nunc
            erat, efficitur eu cursus nec, tincidunt ut arcu. Aliquam sed felis a leo vehicula fringilla vitae nec mauris.
            Phasellus pretium tortor vel porttitor imperdiet. Etiam imperdiet vestibulum risus, id fringilla tellus finibus
            eget. Proin elementum arcu turpis, ultrices viverra felis egestas in. Phasellus varius orci vestibulum, dapibus
            libero ut, vestibulum risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis pretium aliquam
            lacus eu maximus. Proin eget lorem vitae ipsum vestibulum iaculis at luctus tortor. Mauris at urna non ante egestas
            viverra. Ut nec metus odio.
        </p>
        <p>
            Aliquam erat volutpat. Donec eu efficitur eros. Vestibulum nec mollis erat, quis pharetra ipsum. Aenean venenatis purus nibh,
            in rhoncus ex elementum tristique. Nullam luctus nulla ac leo posuere malesuada. Sed sed dignissim libero. Cras
            cursus tincidunt magna, in aliquam dui vulputate in. Maecenas tincidunt sapien viverra justo varius tincidunt.
            Phasellus molestie, justo congue accumsan cursus, nunc magna congue nisi, vitae dignissim nibh metus vel tortor.
        </p>
        <p>
            Cras sed tempus erat. Sed accumsan sapien ut turpis porta, ullamcorper iaculis quam lacinia. Pellentesque in orci a erat
            semper tempor. Phasellus velit ipsum, efficitur et posuere in, interdum sed tellus. Duis eu nisi magna. Sed nec
            urna sed tortor scelerisque maximus. Quisque eget ante tristique, suscipit tortor nec, congue massa. Proin faucibus
            diam quis nulla pharetra congue.
        </p>
        <p>
            Vivamus at ullamcorper lacus. Suspendisse scelerisque condimentum ex et sagittis. Pellentesque accumsan eget leo sit amet
            viverra. Mauris ornare odio tincidunt nisi rutrum, vel commodo justo faucibus. Aliquam non odio at felis maximus
            consequat vel a elit. Sed interdum ornare eros ut aliquam. Ut imperdiet sollicitudin molestie. Vestibulum venenatis
            augue nunc, ut iaculis ante efficitur a. Maecenas varius maximus mollis. Mauris eu turpis leo. Duis eget mauris
            ipsum. Donec sollicitudin sagittis leo non convallis.
        </p>
    </div>
    <div class="profile-description-more col" (click)="expandDescription()">
        <span><i class="fas fa-angle-down"></i></span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="profile-universities bg-primary col-md m-1">
            <h4>Schools</h4>
            <div class="item bg-light container my-3">
                <h5>University of Chicago</h5>
                <h6>since 2015</h6>
                <p>Computer Science</p>
            </div>
            <div class="item bg-light container my-3">
                <h5>Minnesota State College</h5>
                <h6>2013 - 2015</h6>
                <p>Design</p>
            </div>
        </div>
        <div class="profile-projects bg-dark col-md m-1">
            <h4><span class="studint-logo"></span> Projects</h4>
            <div class="item bg-light container my-3">
                <h5>LinkedIn for students</h5>
                <h6>by PolSl</h6>
            </div>
            <div class="item bg-light container my-3">
                <h5>Car Parts Shop</h5>
                <h6>by Norauto</h6>
            </div>
            <div class="item bg-light container my-3">
                <h5>Cookie of the Month</h5>
                <h6>by Mozilla Foundation</h6>
            </div>
            <div class="item bg-light container my-3">
                <h5>iTunes for Windows Mobile</h5>
                <h6>by Google</h6>
            </div>
        </div>
    </div>
</div>
<app-wall></app-wall>