<div class="wall container text-center p-4">
    <h4>Wall of thoughts</h4>
    <p *ngIf="!posts?.length" class="italic">No posts so far...</p>
    <div class="card-columns">
        <div *ngFor="let item of posts; let last = last" class="wall-item card p-4 text-left">
            <div class="card-body" inViewport (inViewportAction)="scrolledToBottom($event, last)">
                <div class="row mb-2">
                    <div [ngClass]="{'hidden': !utils.photoExists(item.author)}" class="card-photo-container mr-3">
                        <div class="card-photo" [ngStyle]="{'background-image': 'url(' + item.author.photo + ')'}"></div>
                    </div>
                    <div>
                        <h5 class="card-title" [ngSwitch]="item.author?.type">
                            <a *ngSwitchCase="'User'" [routerLink]="['/user', item.author.id]">
                                {{item.author.name ? item.author.name : 'Unknown person'}}
                            </a>
                            <a *ngSwitchCase="'University'" [routerLink]="['/university', item.author.id]">
                                {{item.author.name ? item.author.name : 'Unknown school'}}
                            </a>
                            <a *ngSwitchCase="'Company'" [routerLink]="['/company', item.author.id]">
                                {{item.author.name ? item.author.name : 'Unknown company'}}
                            </a>
                        </h5>
                        <h6 class="card-subtitle">{{item.publishedDate | date: 'longDate'}}</h6>
                    </div>
                </div>
                <div [innerHTML]="item.post"></div>
            </div>
        </div>

    </div>
</div>