<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-boy">
  <div class="container">
    <form class="registerform" [formGroup]="accountDetailsFormGroup">
      <div class="form-group">
        <div *ngIf="isCompany">
          <small>Company</small>
          <input type="text" class="form-control" formControlName="name" id="InputCompanyName" required>
          <div *ngIf="submittedCompany || submittedUniversity">
            <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('name').errors?.pattern">
              Only letters are allowed</p>
          </div>
        </div>
        <div *ngIf="isUniversity">
          <small>University</small>
          <input type="text" class="form-control" formControlName="name" id="InputCompanyName" required>
          <div *ngIf="submittedCompany || submittedUniversity">
            <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('name').errors?.pattern">
              Only letters are allowed</p>
          </div>
        </div>
        <div *ngIf="submittedCompany || submittedUniversity">
          <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.controls.name.errors?.required">Company name is required</p>
        </div>
      </div>
      <div formGroupName="address">
        <div class="form-group">
          <small>Country</small>
          <select class="custom-select form-control" formControlName="country">
            <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
          </select>
        </div>
        <div class="form-group">
          <small>City</small>
          <input type="text" class="form-control" formControlName="town" id="InputCity3" placeholder="City" required>
          <div *ngIf="submittedCompany || submittedUniversity">
            <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('town').errors?.required">City is required</p>
            <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('town').errors?.pattern">
              Only letters are allowed</p>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <small>Street</small>
            <input type="text" class="form-control" formControlName="street" id="Street3" placeholder="Street" required>
            <div *ngIf="submittedCompany || submittedUniversity">
              <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('street').errors?.required">Street is required</p>
              <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('street').errors?.pattern">
                Only letters are allowed</p>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <small>House number</small>
            <input type="text" class="form-control" formControlName="houseNo" id="HouseNumber3" placeholder="House number" required>
            <div *ngIf="submittedCompany || submittedUniversity">
              <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('houseNo').errors?.required">House number is required</p>
              <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('houseNo').errors?.pattern">House number is incorrect</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <small>Postal code</small>
          <input type="text" class="form-control" formControlName="postalCode" id="Zip3" placeholder="Zip" required>
          <div *ngIf="submittedCompany || submittedUniversity">
            <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('postalCode').errors?.required">Zip is required</p>
            <p class="alert alert-danger" *ngIf="accountDetailsFormGroup.get('address').get('postalCode').errors?.pattern">
              Incorrect zip code</p>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="isUniversity">
        <div class="form-group">
          <small>Courses</small>
          <input class="form-control" formControlName="course" (typeaheadOnSelect)="onCourseSelect($event)" [typeahead]="courses" typeaheadOptionField="courseName"
            [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" placeholder="Course" />
        </div>
      </div>
      <div class="form-group">
        <div class="tags-container">
          <ng-container *ngFor="let item of universityCoursesTag">
            <button type="button" class="btn btn-tag">
              <div class="font-tag">{{item.courseName}}
                <span class="close" (click)="onCourseCloseClick(item)">&nbsp;
                  <i class="fas fa-times fa-sm"></i>
                </span>
              </div>
            </button>&nbsp;
          </ng-container>
        </div>
      </div>



      <div formGroupName="socialServices">
        <small>Social media</small>
        <div class="form-group">
          <div class="btn-default">
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-youtube"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="youtubeLink" formControlName="youtube" placeholder="Add Youtube link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-facebook"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="facebookLink" formControlName="facebook" placeholder="Add Facebook link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-twitter"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="twitterLink" formControlName="twitter" placeholder="Add twitter link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-instagram"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="instagramLink" formControlName="instagram" placeholder="Add Instagram link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-linkedin-in"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="linkedinLink" formControlName="linkedin" placeholder="Add Linkedin link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-github"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="githubLink" formControlName="github" placeholder="Add Github link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-pinterest"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="pinterestLink" formControlName="pinterest" placeholder="Add Pinterest link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fab fa-google"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="googleLink" formControlName="google" placeholder="Add Google link">
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="fas fa-globe"></i>
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="form-group" style="padding-top: 10px">
                    <input type="text" class="form-control" id="customLink" formControlName="custom" placeholder="Add custom link">
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>

      <div class="form-group">
        <small>Description</small>
        <app-editor id="exampleFormControlTextarea1" formControlName="description"></app-editor>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" (click)="close()">
    Cancel
  </button>
  <div *ngIf="isCompany">
    <button class="btn btn-primary" (click)="onSubmitCompany()">
      Save
    </button>
  </div>

  <div *ngIf="isUniversity">
    <button class="btn btn-primary" (click)="onSubmitUniversity()">
      Save
    </button>
  </div>
</div>