<div class="sidenav__openbtn" (click)="openNav()">
    <i class="fas fa-arrow-alt-circle-right"></i>
</div>

<div class="sidenav" [ngClass]="{'shown': showMenu}">
        <span class="sidenav__closebtn" (click)="closeNav()">&times;</span>
        <div class="sidenav__content">
            <button class="sidenav__button" (click)="toggleProjects()">Projects</button>
            <ul class="sidenav__list" *ngIf="showProjects">
                <li *ngFor="let project of projects">
                    <a class="sidenav__list-item" href="#">{{project.name}}</a>
                </li>
            </ul>
            <button class="sidenav__button" (click)="toggleUniversities()">University</button>
            <ul class="sidenav__list" *ngIf="showUniversities">
                <li *ngFor="let university of universities">
                    <a class="sidenav__list-item" href="#">{{university.profileName.name}}</a>
                </li>
            </ul>
        </div>
</div>