<div class="bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <!-- Tabs with icons on Card -->
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-primary">
                        <!--  -->
                        <div class="nav-justified">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#student" data-toggle="tab">
                                            <i class="fas fa-graduation-cap fa-2x"></i>&nbsp;STUDENT
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#university" data-toggle="tab">
                                            <i class="fas fa-university fa-2x"></i>&nbsp;UNIVERSITY
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#company" data-toggle="tab">
                                            <i class="fas fa-building fa-2x"></i>&nbsp;COMPANY
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="tab-content">
                            <div class="text-center">
                                <div class="size-studint">
                                    <label class="label-studint">Welcome to
                                        <span class="studint-logo"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="tab-pane active" id="student">
                                <form class="registerform" [formGroup]="registrationFormGroup" (ngSubmit)="onSubmitStudent()" action="mail.php" method="post">
                                    <div class="form-group">
                                        <div class="md-form">
                                            <input type="email" class="form-control" formControlName="email" id="form3" placeholder="E-mail" maxlength="254" required
                                            />
                                            <label for="form3">Example label</label>
                                        </div>
                                        <div *ngIf="submittedStudent">
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.required">Email is required
                                            </p>
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.email && f.email.touched">Email
                                                is not valid</p>
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.maxlength">Email may have
                                                maximum 254 characters </p>
                                        </div>
                                    </div>
                                    <div [formGroup]="passwordFormGroup">
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="password" id="InputStudentPassword1" placeholder="Enter password"
                                                minlength="4" required />
                                            <div *ngIf="submittedStudent">
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.required">Password
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.minlength">Password
                                                    must be at least 4 characters long</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="repeatPassword" id="InputStudentRepeatPassword1" placeholder="Repeat password"
                                                required />
                                            <div *ngIf="submittedStudent">
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required">Repeat
                                                    password is required</p>
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password
                                                    does not match</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form [formGroup]="firstNameSurnameFormGroup">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="firstName" id="InputFirstName" placeholder="First Name" maxlength="254"
                                                required/>
                                            <div *ngIf="submittedStudent">
                                                <p class="alert alert-danger" *ngIf="firstNameSurnameFormGroup.controls.firstName.errors?.required">First
                                                    name is required</p>
                                                <p class="alert alert-danger" *ngIf="firstNameSurnameFormGroup.controls.firstName.errors?.pattern">
                                                    Invalid first name</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="surname" id="InputSurname" placeholder="Surname" maxlength="254"
                                                required/>
                                            <div *ngIf="submittedStudent">
                                                <p class="alert alert-danger" *ngIf="firstNameSurnameFormGroup.controls.surname.errors?.required">Surname
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="firstNameSurnameFormGroup.controls.surname.errors?.pattern">
                                                    Invalid surname </p>
                                            </div>
                                        </div>
                                    </form>
                                    <form [formGroup]="othersFormGroup">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label class="form-check-label">
                                                    <small>
                                                        <input type="checkbox" formControlName="checkbox" id="InputCheckbox1" required>                                                        By
                                                        clicking Register, you agree to our Terms & Conditions, Visitor Agreement
                                                        and Privacy Policy.
                                                    </small>
                                                    <div *ngIf="submittedStudent">
                                                        <p class="alert alert-danger" *ngIf="othersFormGroup.controls.checkbox.errors?.required">You
                                                            must accept Terms & Conditions</p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="university">
                                <form class="registerform" [formGroup]="registrationFormGroup" (ngSubmit)="onSubmitUniversity()" action="mail.php" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="email" id="InputEmail2" placeholder="E-mail" required />
                                        <div *ngIf="submittedUniversity">
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.required">Email is required</p>
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.email && f.email.touched">Email
                                                is not valid</p>
                                        </div>
                                    </div>
                                    <div [formGroup]="passwordFormGroup">
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="password" id="InputUniversityPassword1" placeholder="Enter password"
                                                required />
                                            <div *ngIf="submittedUniversity">
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.required">Password
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.minlength">Password
                                                    must be at least 4 characters long</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="repeatPassword" id="InputUniversityRepeatPassword2" placeholder="Repeat password"
                                                minlength="4" required />
                                            <div *ngIf="submittedUniversity">
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required">Repeat
                                                    password is required</p>
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password
                                                    does not match</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form [formGroup]="othersFormGroup">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="name" id="InputUniversityName" placeholder="University name" required>
                                            <div *ngIf="submittedUniversity">
                                                <p class="alert alert-danger" *ngIf="othersFormGroup.controls.name.errors?.required">University
                                                    name is required</p>
                                            </div>
                                        </div>
                                    </form>
                                    <form [formGroup]="addressFormGroup">
                                        <div class="form-group">
                                            <select class="custom-select form-control">
                                                <option *ngFor="let country of countries" [ngValue]="mode">{{country}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="town" id="InputCity2" placeholder="City" required>
                                            <div *ngIf="submittedUniversity">
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.town.errors?.required">City
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.town.errors?.pattern">
                                                    Only letters are allowed</p>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" formControlName="street" id="Street2" placeholder="Street" required>
                                                <div *ngIf="submittedUniversity">
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.street.errors?.required">Street
                                                        is required</p>
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.street.errors?.pattern">
                                                        Only letters are allowed</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" formControlName="houseNo" id="HouseNumber2" placeholder="House number" required>
                                                <div *ngIf="submittedUniversity">
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.houseNo.errors?.required">House
                                                        number is required</p>
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.houseNo.errors?.pattern">House
                                                        number is incorrect</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="postCode" id="Zip2" placeholder="Zip" required>
                                            <div *ngIf="submittedUniversity">
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.postCode.errors?.required">Zip
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.postCode.errors?.pattern">
                                                    Incorrect zip code</p>
                                            </div>
                                        </div>

                                    </form>
                                    <form [formGroup]="othersFormGroup">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label class="form-check-label">
                                                    <small>
                                                        <input type="checkbox" formControlName="checkbox" id="InputCheckbox2" required>                                                        By
                                                        clicking Register, you agree to our Terms & Conditions, Visitor Agreement
                                                        and Privacy Policy.
                                                    </small>
                                                    <div *ngIf="submittedUniversity">
                                                        <p class="alert alert-danger" *ngIf="othersFormGroup.controls.checkbox.errors?.required">You
                                                            must accept Terms & Conditions</p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="company">
                                <form class="registerform" [formGroup]="registrationFormGroup" (ngSubmit)="onSubmitCompany()" action="mail.php" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="email" id="InputEmail3" placeholder="E-mail" required />
                                        <div *ngIf="submittedCompany">
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.required">Email is required</p>
                                            <p class="alert alert-danger" *ngIf="f.email.errors?.email && f.email.touched">Email
                                                is not valid</p>
                                        </div>
                                    </div>

                                    <div [formGroup]="passwordFormGroup">
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="password" id="InputComapnyPassword3" placeholder="Enter password"
                                                minlength="4" required />
                                            <div *ngIf="submittedCompany">
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.required">Password
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.minlength">Password
                                                    must be at least 4 characters long</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" formControlName="repeatPassword" id="InputCompanyRepeatPassword3" placeholder="Repeat password"
                                                required />
                                            <div *ngIf="submittedCompany">
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required">Repeat
                                                    password is required</p>
                                                <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password
                                                    does not match</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form [formGroup]="othersFormGroup">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="name" id="InputCompanyName" placeholder="Company name" required>
                                            <div *ngIf="submittedCompany">
                                                <p class="alert alert-danger" *ngIf="othersFormGroup.controls.name.errors?.required">Company
                                                    name is required</p>
                                            </div>
                                        </div>
                                    </form>

                                    <form [formGroup]="addressFormGroup">
                                        <div class="form-group">
                                            <select class="custom-select form-control">
                                                <option *ngFor="let country of countries" [ngValue]="mode">{{country}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="town" id="InputCity3" placeholder="City" required>
                                            <div *ngIf="submittedCompany">
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.town.errors?.required">City
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.town.errors?.pattern">
                                                    Only letters are allowed</p>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" formControlName="street" id="Street3" placeholder="Street" required>
                                                <div *ngIf="submittedCompany">
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.street.errors?.required">Street
                                                        is required</p>
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.street.errors?.pattern">
                                                        Only letters are allowed</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" formControlName="houseNo" id="HouseNumber3" placeholder="House number" required>
                                                <div *ngIf="submittedCompany">
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.houseNo.errors?.required">House
                                                        number is required</p>
                                                    <p class="alert alert-danger" *ngIf="addressFormGroup.controls.houseNo.errors?.pattern">House
                                                        number is incorrect</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="postCode" id="Zip3" placeholder="Zip" required>
                                            <div *ngIf="submittedCompany">
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.postCode.errors?.required">Zip
                                                    is required</p>
                                                <p class="alert alert-danger" *ngIf="addressFormGroup.controls.postCode.errors?.pattern">
                                                    Incorrect zip code</p>
                                            </div>
                                        </div>
                                    </form>
                                    <form [formGroup]="othersFormGroup">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label class="form-check-label">
                                                    <small>
                                                        <input type="checkbox" formControlName="checkbox" id="InputCheckbox3" required>                                                        By
                                                        clicking Register, you agree to our Terms & Conditions, Visitor Agreement
                                                        and Privacy Policy.
                                                    </small>
                                                    <div *ngIf="submittedCompany">
                                                        <p class="alert alert-danger" *ngIf="othersFormGroup.controls.checkbox.errors?.required">You
                                                            must accept Terms & Conditions</p>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tabs on Card -->
            </div>
        </div>
    </div>
</div>