<div id="profile-background-photo" style="background-image: url('https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg')"></div>
<div class="profile-header container">
    <div class="profile-top row text-center text-sm-left">
        <div class="profile-photo-container col-sm-auto">
            <div *ngIf="project?.profileName?.photo" class="profile-photo ml-auto mr-auto" [ngStyle]="{'background-image': 'url(' + project.profileName.photo + ')'}"></div>
        </div>
        <div class="profile-card col">
            <div class="profile-name">
                <h1>{{project?.profileName?.name}}</h1>
                <h6 [ngSwitch]="project?.status" id="profile-status">
                    <span *ngSwitchCase="'inprogress'">In progress</span>
                    <span *ngSwitchCase="'invite'">Join us!</span>
                    <span *ngSwitchCase="'tba'">To be announced</span>
                    <span *ngSwitchCase="'finished'">Finished</span>
                </h6>
            </div>
            <div class="profile-info-container row d-block">
                <div class="profile-info col-md-5 text-left float-left">
                    <div *ngIf="getDifficultyNumber()" class="info-item py-2 d-block text-center text-sm-left">
                        <h6>Difficulty</h6>
                        <div class="difficulty-stars">
                            <i *ngFor="let i of Arr(getDifficultyNumber()).fill(1)" class="fas fa-star"></i>
                            <i *ngFor="let i of Arr(5 - getDifficultyNumber()).fill(1)" class="far fa-star"></i>
                        </div>
                    </div>
                    <div *ngIf="project?.duration" class="info-item d-block text-center text-sm-left">
                            <h6>Estimated duration</h6>
                            <p>{{project.duration.value}} {{getDurationUnit(project.duration)}}</p>
                        </div>
                    <div *ngIf="project?.startDate" [ngSwitch]="getDateStatus(project.startDate)" class="info-item">
                        <div class="info-item-icon"><i class="fas fa-play"></i></div>
                        <p *ngSwitchCase="'future'">Project starts on {{project.startDate | amDateFormat: 'LL'}}</p>
                        <p *ngSwitchCase="'tenDays'">Project is starting in less than 10 days! ({{project.startDate | amDateFormat:
                            'LL'}})
                        </p>
                        <p *ngSwitchCase="'tomorrow'">Project is starting tomorrow!</p>
                        <p *ngSwitchCase="'today'">Project started today</p>
                        <p *ngSwitchCase="'yesterday'">Project started yesterday</p>
                        <p *ngSwitchCase="'past'">Project started on {{project.startDate | amDateFormat: 'LL'}}</p>
                    </div>
                    <div *ngIf="project?.joiningDate" [ngSwitch]="getDateStatus(project.joiningDate)" class="info-item">
                        <div class="info-item-icon"><i class="fas fa-stopwatch"></i></div>
                        <p *ngSwitchCase="'future'">Entries are accepted until {{project.joiningDate | amDateFormat: 'LL'}}</p>
                        <p *ngSwitchCase="'tenDays'" class="bold">Little time left to join the project! (deadline is on {{project.joiningDate
                            | amDateFormat: 'LL'}})</p>
                        <p *ngSwitchCase="'tomorrow'" class="bold">Entries are accepted only until tomorrow!</p>
                        <p *ngSwitchCase="'today'" class="bold">Today is the last chance to join the project!</p>
                        <p *ngSwitchCase="'yesterday'">Entries closed yesterday</p>
                        <p *ngSwitchCase="'past'">Entries are no longer accepted</p>
                    </div>
                </div>
                <div *ngIf="project?.technologies?.length" class="profile-technologies col-md-7 float-left">
                    <h4>Technologies</h4>
                    <span class="technology-item" *ngFor="let technology of project.technologies">
                        {{technology.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="project?.description?.length > 0" class="profile-description-container container col-md-8" [ngClass]="{'expanded': expanded}">
    <div class="profile-description mx-4">
        <h4>Project description</h4>
        <div [innerHTML]="project.description" class="profile-description-text">
        </div>
        <div class="profile-description-more col" (click)="expandDescription()">
            <span><i class="fas fa-angle-down"></i></span>
        </div>
    </div>
</div>